/* Master Styles */
body {
  color: rgb(120, 120, 120);
}
h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.form-control::-webkit-input-placeholder {
   color: rgb(120, 120, 120);
}
.form-control:-moz-placeholder { /* Firefox 18- */
   color: rgb(120, 120, 120);
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(120, 120, 120);
}
.form-control:-ms-input-placeholder {
   color: rgb(120, 120, 120);
}

/* OVERWRITES */
@media (min-width: 1200px) {
  .container{
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
.navbar-default {
  background-color: rgb(0, 178, 193);
}
.navbar-brand {
  height: 60px;
  padding: 10px 10px;
}
.navbar-brand > img {
  height: 35px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.table > tbody > tr {
   line-height: 65px;
   min-height: 65px;
   height: 65px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgb(238, 243, 250);
}
.table>tbody>tr>td {
  border-top: none;
}
.table>thead>tr>th {
  border-bottom: none;
}

/* PAGINATION */
.pagination > li > a,
.pagination > li > span {
  color: rgb(120, 120, 120);
}
.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border: none;
  border-radius: 50%;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: inherit;
}

.pagination >.active > a,
.pagination >.active > a:hover {
  color: rgb(120, 120, 120);
  background-color: rgb(208, 238, 240);
}

/* MAGICAL ALIGNS */
.left-edge-cell__text {
  padding-left: 13px;
}
.cell__input {
  padding-left: 12px;
}
.cell__editable {
  margin-left: -9px;
}
.form-inline >:first-child {
  margin-left: -15px;
}
.form-inline >:last-child {
  margin-right: -15px;
}

/* SIZING & POSITIONING & UTILITIES */
.form-control {
  font-size: medium;
  color: rgb(120, 120, 120);
}
.form-control.full-width {
  width: 100%;
}
.no-gutter__right {
  padding-right: 0;
}
.invisible {
  visibility: hidden;
}
.heading-text {
  font-size: smaller;
}
/* http://stackoverflow.com/a/9492996 */
.divider {
  border-left: 1px solid rgb(225, 231, 238);
  width: 1px;
  display: inline;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ADD PERSON */
.section__add-person {
  padding-bottom: 80px;
}

.section__add-person >:not(:first-child) {
  padding-top: 25px;
}

.section__add-person .form-control,
.section__add-person .btn {
  background-color: rgb(241, 241, 241)
}

/* ICONS */
.icon-sort {
  color: rgb(169, 169, 169);
}

.icon-edit,
.icon-remove {
  color: rgb(202, 210, 218);
}
.icon-add {
  line-height: inherit;
}
.icon-edit.active,
.icon-sort.active {
  color: inherit;
}
.icon-sort {
  transform: scale(-1, 1) rotate(-90deg);
}
.icon-sort.ascending {
  transform: rotate(90deg);
}

/* PERSONS LIST */
/* Disable all interaction */
.section__persons-list .person-row.inactive .form-control {
  pointer-events: none;
}

.section__persons-list .form-control {
  background-color: inherit;
  /* http://stackoverflow.com/a/30202822 */
  border: 0;
  margin-left: 1px;
  box-shadow: none;
  outline: none;
}

.section__persons-list .person-row .form-control.active,
.section__persons-list .person-row .form-control:focus,
.section__persons-list .person-row .form-control:hover {
  outline: 1px solid #CCC;
}

.section__persons-list .form-control:focus {
  outline-offset: 0;
}

.section__persons-list select.form-control {
  -webkit-appearance: none;
  padding: 0;
  margin-left: 8px;
}

.section__persons-list select.form-control.active,
.section__persons-list select.form-control:focus,
.section__persons-list select.form-control:hover {
  -webkit-appearance: menulist;
  margin-left: 0;
}
